<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Contact Me</h2>
                <div class="page_link">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Contacts" asp-action="Index">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->
    
<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <div class="row" data-np-autofill-form-type="identity" data-np-checked="1" data-np-watching="1">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Iowa, United States</h6>
                        <p>Fairfield</p>
                    </div>
                    @* <div class="info_item">
						<i class="lnr lnr-phone-handset"></i>
						<h6><a href="#">00 (440) 9865 562</a></h6>
						<p>Mon to Fri 9am to 6 pm</p>
					</div> *@
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">vogiahyvn@outlook.com</a></h6>
                        <p>Send a query anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <form class="row contact_form" action="https://api.web3forms.com/submit" method="POST" id="contactForm">
                    <input type="hidden" name="access_key" value="9f5af254-5610-43b1-b0a2-021babac1f5f" />
                    <input type="hidden" name="subject" value="New Contact Form Submission" />
                    <input type="hidden" name="from_name" value="Hy Portfolio Legacy" />
                    <input type="checkbox" name="botcheck" class="hidden" style="display:none" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" data-np-intersection-state="visible" data-np-autofill-field-type="fullName" data-np-uid="f45e6869-26a8-47f1-ab4c-3a50bb4ddc86" data-sharkid="__0" data-sharklabel="name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" data-np-intersection-state="visible" data-np-autofill-field-type="email" data-np-uid="ff9f9345-1d02-4d9d-a61f-5db613b2f733" data-sharkid="__1" data-sharklabel="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject" data-np-intersection-state="visible" data-sharkid="__2">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message" data-sharkid="__3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="primary_btn">
                            <span>Send Message</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <section id="contact_area" class="contact_area section_top_half">
	        <div class="container">
		        <div class="row justify-content-center align-items-center">
			        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11006.349732558492!2d-91.96635490058597!
					        3d41.01904905812459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e666733021a1fd%3A0xbd109f9c0f5e4fce!
					        2sMaharishi%20International%20University!5e1!3m2!1sen!2sus!4v1731034859504!5m2!1sen!2sus"
					        width="1110" height="479" loading="fast"
					        referrerpolicy="no-referrer-when-downgrade"></iframe>

		        </div>
	        </div>
        </section>
    </div>
</section>
<!--================Contact Area =================-->
        


@* @model IEnumerable<HyPortfolio_Legacy.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
